* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
}

/* clearfix */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: Montserrat;
}

/*Inizio style left side bar*/
aside {
    width:200px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    background-color: black;
    position: fixed;
    top:0 ;
    left: 0;
    z-index: 998;
}
/*Style logo*/

.logo img {
    width: 100%;
    height: 80px;
}

.logo-small {
    display: none;
    width: 25px;
}

/*Fine style logo*/


.nav-element {
    color: #a3a3a3;
    padding: 3px 10px;
    flex-shrink: 0;
}

.aside-icon {
    font-size: 23px;
}

.nav-element ul {
    list-style: none;
}

.nav-element ul li {
    padding : 10px 0 ;
}

.nav-element a {
    text-decoration: none;
    color: #a3a3a3;
}
/*Inizio Style playlist element*/

#playlist-head {
    color:white;
    padding: 14px 0;
}

.playlist a {
    text-decoration:none;
    color: #a3a3a3;
}

.target i {
    vertical-align: middle;
    font-size: 40px;
}

.target  {
    color: #a3a3a3;
    text-decoration: none;
    padding-left: 4px;
}

.playlist li {
    padding-top: 4px;
}

/*Last navbar download*/



.element-download  {
    width: 100%;
    position: absolute;
    bottom:0;
    display: block;
}

.element1 {
    border-bottom: 1px solid white;
}

/*Main style*/

main {
    width: calc(100% - 200px);
    margin-left: 200px;
    margin-top:50px;
    background-color: #141922;
    overflow-y: auto;


    /*Da cancellare */
    height: 100vh;
}

.container-main{
    width:95%;
    margin: 0 auto;
}

.categories {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.category {
    padding: 10px 30px;
}

.category a {
    text-decoration: none;
    color: white;
}

/*Stile Upgrade bar*/
.fixed-topbar {
    position: fixed;
    top:0;
    left: 0;
    background-color: black;
    height: 50px;
    width: 100%;
}

.upgrade {
    display: flex;
    flex-direction: row-reverse;
}

.button-upgrade {
      background-color: black;
      border: 1 solid white;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      font-size: 12px;
      padding: 10px 40px;
      border-radius: 40px;
      margin: 5px 0;
}

/*Footer Play-bar*/

footer {
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 999;
}

.section-side {
    width: 15%;
    height: 90px;
    background-color: #282828;
    float: left;
}

.section-middle {
    width: 70%;
    height: 90px;
    background-color: yellow;
    float: left;
}

/*First section Player*/

.album {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.album img{
    height: 100%;
    width:20%;
    float: left;
}


.album-title h5 {
    color:#f7f7f7;
}

.album-title p {
    color: #787878;
}

.icon-album {
    float:right;
}

.icon-album i {
    color: #787878;
}

/*Player*/

.player {
    width:100%;
    height: 50%;
    background-color: #282828;
}

.player-icons  {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.player-icon  {
    padding: 5px 40px;
}

.player-icon i {
    color:white;
}

.play-button {
    font-size: 35px;
}

/*Time Bar Player*/

.time-bar-player {
    width:100%;
    height: 100%;
    background-color: #282828;
}

.progress-bar {
    height: 4px;
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 40px;
}

.end {
    width:50%;
    background-color: #5a5a5a;
}



.player-icons p {
    color: white;
    padding: 0px 5px;
}


/*Right player part */

.end2{
    width:20%;
    background-color: #5a5a5a;
}

.icon-right {
    padding-right: 15px;
    color: white;
}
